* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", serif;
  line-height: 1;
  font-weight: 300;
  color: #000;
  font-size: 1.3rem;
  background: #fff;
}

.max {
  max-width: 110rem;
  margin: 0 auto;
}

.main {
  background-color: #041641;
}
.main-nav {
  background-color: #041641;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.main-nav .logo {
  margin: 0 1rem;
  font-weight: 300;
  color: #fff;
  font-family: "EB Garamond", serif;
  font-size: 3rem;
}
.logo a {
  text-decoration: none;
  color: #fff;
}
.logo span {
  color: orange;
  font-family: "Rubik", serif;
}
.left-nav,
.right-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.left-nav li,
.left-nav a,
.right-nav li,
.right-nav a {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 0 1.5rem;
  text-decoration: none;
  list-style: none;
  color: #fff;
  letter-spacing: 0.8px;
}
.left-nav a:hover,
.right-nav a:hover {
  color: #ffffff50;
}
.search_input {
  position: relative;
  width: 80%;
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid #000;
}

.search {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search__icon {
  position: absolute;
  right: 14%;
  color: #212121;
  font-size: 1.1rem;
}
input:focus {
  outline: none;
}
.ui-widget-content {
  background: #041641;
  color: #fff;
  padding: 0.5rem;
}
.ui-menu-item-wrapper:hover {
  background: none;
  border: none;
}

.right-nav .login,
.right-nav .signup {
  border: 1px solid #fff;
  padding: 1rem;
}

/* hide hamburger mebu */
.hamburger {
  display: none;
}
/* Dropdown style */

.left-nav .dropdown {
  position: absolute;
  top: 4rem;
  left: 10rem;
  padding: 1rem;
  background-color: #041641;
  display: none;
  margin-top: 0.4rem;
}
.left-nav li.categories:hover .dropdown {
  display: block;
}

.left-nav .dropdown li {
  padding: 0 0 1rem 0;
}

/* Banner section */
.banner-sale {
  display: flex;
  align-items: center;
  padding: 7rem 0;
}
.sale-img img {
  display: inline-block;
  width: 55rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 4px;
}
.sale-content {
  margin-left: 3rem;
}
.sale-content p {
  line-height: 1.3;
  margin: 4rem;
  font-size: 2rem;
  letter-spacing: 1.2px;
}
.cta {
  padding: 1rem 2rem;
  text-decoration: none;
  background: #0d2782;
  color: #fff;
  margin-left: 4rem;
  font-size: 1.5rem;
  transition: all 0.5s;
}
.cta:hover {
  letter-spacing: 1.2px;
}

.hamburger {
  display: none;
}

/* product section */

.product-sec {
  background-color: #fffde4;
  box-shadow: 0 0 0 1px #0000008a;
  border-radius: 3px;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  padding: 4rem 0;
}

.product-sec .product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 5rem;
  padding-bottom: 4rem;
  max-width: 110rem;
  margin: 0 auto;
}

.product-sec .product-container .box {
  position: relative;
  text-align: center;
  background-color: white;
  padding: 1.5rem 1rem;
  border-radius: 3px;
  box-shadow: 0 0 0 1px #0000008a;
  width: 20rem;
  height: auto;
}

.product-sec .product-container .box img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 50%;
  padding: 0.1rem;
  background-color: #868e96;
  margin: 1rem 0;
}

.product-sec .product-container .box h3 {
  color: black;
  font-size: 1.8rem;
}
.product-sec .product-container .box .price {
  color: #333;
  padding-top: 0.5rem;
  font-size: 1.5rem;
}

.product-sec .product-container .box .quantity {
  padding: 1.5rem 0;
  text-transform: capitalize;
}

.product-sec .product-container .box .quantity span {
  font-size: 1.5rem;
}

.product-sec .product-container .box .quantity input {
  padding: 0.3rem;
  border: 1px solid #000;
}

.product-sec .product-container .box .btn {
  display: inline-block;
  padding: 0.7rem 1.4rem;
  font-size: 1.3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background: #041641;
  color: #fff;
  text-transform: capitalize;
}

/* Deals product style */

.deals .product-sec {
  background-color: #fffde4;
  margin-top: 2rem;
  box-shadow: 0 0 0 1px #0000008a;
}

.deals .product-sec .product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  max-width: 120rem;
  padding: 4rem;
}

.deals .box .sale {
  position: absolute;
  left: 16rem;
  top: 2rem;
  font-size: 1.2rem;
}
.deals .box .sale::after {
  content: "";
  position: absolute;
  left: -0.3rem;
  bottom: -1rem;
  height: 3.5rem;
  width: 3.5rem;
  background-color: rgba(101, 107, 107, 0.2);
  z-index: 20;
  border-radius: 50%;
}

.deals .product-sec .product-container .price span {
  text-decoration: line-through;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

/* Footer style */
.footer-sec {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 7rem;
  padding: 5rem 0;
  background-color: #041641;
  color: #fff;
}
.company-info {
  display: flex;
  align-items: center;
  gap: 9rem;
}
.company-contact,
.company-services,
.subscribe {
  line-height: 1.4;
  list-style: none;
  font-size: 1.6rem;
}
.company-services a {
  color: #fff;
  text-decoration: none;
}
.company-services a:hover {
  color: #ffffff50;
  text-decoration: underline;
}
.company-contact li:nth-child(1) {
  margin-bottom: 1rem;
}
.subscribe {
  position: relative;
}
.subs i {
  color: #0000008a;
  position: absolute;
  left: 0.6rem;
}
.subs {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.subscribe input[type="email"] {
  width: 100%;
  padding: 1rem 3rem;
  border: 1px solid #000;
  border-radius: 4px;
}

/* Login and sign in page style */
.main {
  background-color: #041641;
}
.login-sec {
  display: flex;
  justify-content: center;
}
.form-sec {
  text-align: center;
  max-width: 200px;
  margin: 100px 0;
  position: relative;
}
.input {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.input i {
  position: absolute;
  color: #00000050;
}
.icon {
  padding: 15px;
  right: 160px;
}
::placeholder {
  color: #0000008a;
}
.form-sec form {
  margin: 3em 0 0 0;
}
.form-sec h3 {
  margin: 5px 0 15px;
  display: block;
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
}
.form-sec input[type="email"],
.form-sec input[type="password"],
.form-sec input[type="text"] {
  width: 100%;
  padding: 0.7em 2.5em;
  border: 1px solid;
  border-radius: 4px;
}
.psw-reset,
.create {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  letter-spacing: 1px;
}
.psw-reset {
  font-size: 0.8em;
}
.sgn-btn {
  border: 1px solid;
  padding: 0.9em 0;
  font-size: 0.7em;
  border-radius: 50px;
  background-color: #000;
  margin-top: 4em;
  text-transform: uppercase;
}
.login-sec a {
  text-decoration: none;
  color: #fff;
}
.sgn-btn i {
  margin-right: 0.2em;
  color: #fff;
}
.create {
  text-transform: uppercase;
  font-size: 0.7em;
  margin-top: 2em;
}

/* ----------- queries Screens ----------- */

/* Larger than Phone media query */
/* @media only screen and (min-width: 550px) {
  
  .deals .product-sec .product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 1rem;
    padding: 1em 0;
    margin: 0.3em;
  }
  .deals .box .sale {
    position: absolute;
    top: 0;
    left: 128px;
    margin-top: 10px;
    color: red;
    font-size: 1.1em;
  }
  .product-sec .product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 1rem;
    padding: 1em 0;
    margin: 0.3em;
  }
  .product-sec .product-container .box {
    position: relative;
    text-align: center;
    background-color: white;
    padding: 0.5em 1.2em;
    border: 1px solid #0000008a;
  }

  .product-sec .product-container .box:last-child {
    display: none;
  }

  .product-sec .product-container .box img {
    height: 5em;
    width: 5em;
  }

  .product-sec .product-container .box h3 {
    color: black;
    font-size: 1rem;
  }
  .product-sec .product-container .box .price {
    color: #333;
    padding: 0.3em 0;
  }
  .product-sec .product-container .box .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
  }

  .product-sec .product-container .box .quantity span {
    padding: 0 0.1em;
    font-size: 1.1rem;
  }

  .product-sec .product-container .box .quantity input {
    color: black;
    padding: 0rem;
  }

  .product-sec .product-container .box .btn {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.5px;
    text-decoration: none;
    background: #041641;
    color: #fff;
    text-transform: capitalize;
  }
  .sale-img {
    display: none;
  }
  .sale-content {
    text-align: center;
    padding: 3rem;
    font-size: 20px;
  }
  .sale-content p {
    line-height: 1.2;
    margin: 2em;
    letter-spacing: 0.5px;
  }
  .cta {
    letter-spacing: 0.5px;
    padding: 0.4rem 2rem;
    text-decoration: none;
    background: #041641;
    color: #fff;
  }


  .footer-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    height: 200px;
    background-color: #041641;
    color: #fff;
  }
  .company-info {
    display: flex;
  }
  .company-contact,
  .company-services {
    line-height: 1.5;
    letter-spacing: 1px;
    list-style: none;
    margin: 1em 1.5em;
    font-size: 1em;
    white-space: nowrap;
  }
  .company-services a {
    color: #fff;
    text-decoration: none;
  }
  .company-services a:hover {
    color: #ffffff50;
    text-decoration: underline;
  }
  .company-contact li:nth-child(1) {
    margin-bottom: 0.7em;
  }
  .subscribe {
    position: relative;
    margin: 0.5em;
  }
  .subscribe h3 {
    font-size: 1em;
  }
  .subs i {
    color: #0000008a;
    position: absolute;
    left: 10px;
  }
  .subs {
    display: flex;
    align-items: center;
    margin-top: 1em;
  }
  .subscribe input[type="email"] {
    width: 100%;
    padding: 0.7em 2.5em;
    border: 1px solid;
    border-radius: 4px;
  }
} */

/* Phone Media Query */

/* @media only screen and (max-width: 550px) {
  body {
    overflow-x: hidden;
  }
  .deals .product-sec .product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 1rem;
    padding: 1em 0;
    margin: 0.3em;
  }
  .deals .box .sale {
    position: absolute;
    top: 0;
    left: 130px;
    margin-top: 10px;
    color: red;
    font-size: 0.9em;
  }
  .product-sec .product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 1rem;
    padding: 1em 0;
    margin: 0.3em;
  }
  .product-sec .product-container .box {
    position: relative;
    text-align: center;
    background-color: white;
    padding: 0.5em 1.2em;
    border: 1px solid #0000008a;
  }

  .product-sec .product-container .box img {
    height: 5em;
    width: 5em;
  }

  .product-sec .product-container .box h3 {
    color: black;
    font-size: 1rem;
  }
  .product-sec .product-container .box .price {
    color: #333;
    padding: 0.3em 0;
  }
  .product-sec .product-container .box .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 0;
  }

  .product-sec .product-container .box .quantity span {
    padding: 0 0.1em;
    font-size: 1.1rem;
  }

  .product-sec .product-container .box .quantity input {
    color: black;
    padding: 0rem;
  }

  .product-sec .product-container .box .btn {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.5px;
    text-decoration: none;
    background: #041641;
    color: #fff;
    text-transform: capitalize;
  }
  .sale-img {
    display: none;
  }
  .sale-content {
    text-align: center;
    padding: 3rem;
    font-size: 20px;
  }
  .sale-content p {
    line-height: 1.2;
    margin: 2em;
    letter-spacing: 0.5px;
  }
  .cta {
    letter-spacing: 0.5px;
    padding: 0.4rem 2rem;
    text-decoration: none;
    background: #041641;
    color: #fff;
  }


  .footer-sec {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5rem;
    height: 200px;
    background-color: #041641;
    color: #fff;
  }
  .company-info {
    display: flex;
  }
  .company-contact,
  .company-services {
    line-height: 1.5;
    letter-spacing: 1px;
    list-style: none;
    margin: 0em 1em;
    padding-top: 1em;
    font-size: 0.8em;
    white-space: nowrap;
  }
  .company-services a {
    color: #fff;
    text-decoration: none;
  }
  .company-services a:hover {
    color: #ffffff50;
    text-decoration: underline;
  }
  .company-contact li:nth-child(1) {
    margin-bottom: 0.7em;
  }
  .subscribe {
    position: relative;
    margin: 0.5em 0;
  }
  .subscribe h3 {
    font-size: 1em;
  }
  .subs i {
    color: #0000008a;
    position: absolute;
    left: 10px;
  }
  .subs {
    display: flex;
    align-items: center;
    margin-top: 1em;
  }
  .subscribe input[type="email"] {
    width: 100%;
    padding: 0.7em 2.5em;
    border: 1px solid;
    border-radius: 4px;
  }
} */

/* @media only screen and (min-width: 768px) {
  
  .deals .product-sec .product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 1rem;
    padding: 1em 0;
    margin: 0.3em;
  }
  .deals .box .sale {
    position: absolute;
    top: 0;
    left: 130px;
    margin-top: 10px;
    color: red;
    font-size: 1em;
  }
  .product-sec .product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 1rem;
    padding: 1em 0;
    margin: 0.3em;
  }
  .product-sec .product-container .box {
    position: relative;
    text-align: center;
    background-color: white;
    padding: 0.5em 1.2em;
    border: 1px solid #0000008a;
  }

  .product-sec .product-container .box:last-child,
  .product-sec .product-container .box:nth-last-child(2) {
    display: none;
  }
  .deals .product-sec .product-container .box:last-child,
  .deals .product-sec .product-container .box:nth-last-child(2) {
    display: block;
  }

  .product-sec .product-container .box img {
    height: 5em;
    width: 5em;
  }

  .product-sec .product-container .box h3 {
    color: black;
    font-size: 1rem;
  }
  .product-sec .product-container .box .price {
    color: #333;
    padding: 0.3em 0;
  }
  .product-sec .product-container .box .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
  }

  .product-sec .product-container .box .quantity span {
    padding: 0 0.1em;
    font-size: 1.1rem;
  }

  .product-sec .product-container .box .quantity input {
    color: black;
    padding: 0rem;
  }

  .product-sec .product-container .box .btn {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.5px;
    text-decoration: none;
    background: #041641;
    color: #fff;
    text-transform: capitalize;
  }

  .sale-content {
    text-align: center;
    padding: 0;
    font-size: 1.1em;
  }
  .sale-content p {
    line-height: 1.2;
    margin: 2em;
    letter-spacing: 0.5px;
  }

  .cta {
    letter-spacing: 0.5px;
    padding: 0.4rem 2rem;
    text-decoration: none;
    background: #041641;
    color: #fff;
  }

  .footer-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    height: 200px;
    background-color: #041641;
    color: #fff;
  }
  .company-info {
    display: flex;
  }
  .company-contact,
  .company-services {
    line-height: 1.5;
    letter-spacing: 1px;
    list-style: none;
    margin: 1em 1.5em;
    font-size: 1em;
    white-space: nowrap;
  }
  .company-services a {
    color: #fff;
    text-decoration: none;
  }
  .company-services a:hover {
    color: #ffffff50;
    text-decoration: underline;
  }
  .company-contact li:nth-child(1) {
    margin-bottom: 0.7em;
  }
  .subscribe {
    position: relative;
    margin: 0.5em;
  }
  .subscribe h3 {
    font-size: 1em;
  }
  .subs i {
    color: #0000008a;
    position: absolute;
    left: 10px;
  }
  .subs {
    display: flex;
    align-items: center;
    margin-top: 1em;
  }
  .subscribe input[type="email"] {
    width: 100%;
    padding: 0.7em 2.5em;
    border: 1px solid;
    border-radius: 4px;
  }
} */

/* @media only screen and (max-width: 1000px) {
  .main-nav {
    max-width: 100%;
  }
  .left-nav,
  .right-nav {
    display: none;
  }
  .hamburger {
    margin-right: 15px;
    display: block;
    color: #fff;
  }
} */

/* @media only screen and (min-width: 1100px) {
  .banner-sale {
    display: flex;
  }
  .deals .box .sale {
    position: absolute;
    top: 0;
    left: 140px;
    margin-top: 10px;
    color: red;
    font-size: 1em;
  }
  .sale-img {
    background-image: url("../images/banner.jpeg");
    background-repeat: no-repeat;
    background-position: left 50% top 70%;
    background-size: cover;
    flex: 0 0 65%;
    align-items: flex-start;
    height: 20rem;
  }
  .sale-img {
    display: block;
  }
  .sale-content {
    align-items: flex-start;
    text-align: center;
    padding: 3rem 0;
    font-size: 20px;
  }
  .sale-content p {
    line-height: 1.2;
    margin: 2em;
    letter-spacing: 0.5px;
  }
  .cta {
    letter-spacing: 0.5px;
    padding: 0.4rem 2rem;
    text-decoration: none;
    background: #041641;
    color: #fff;
  }
  .product-sec .product-container,
  .deals .product-sec .product-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    gap: 1rem;
    padding: 1em 0;
    margin: 0 0 0 0.2em;
  }
  .product-sec .product-container .box:last-child,
  .product-sec .product-container .box:nth-last-child(2) {
    display: block;
  }
  .deals .product-sec .product-container .box:last-child {
    display: none;
  }

  .footer-sec {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    background-color: #041641;
    color: #fff;
  }
  .company-info {
    display: flex;
  }
  .company-contact,
  .company-services {
    line-height: 1.5;
    letter-spacing: 1px;
    list-style: none;
    margin: 0em 1em;
    padding-top: 1em;
    font-size: 0.8em;
    white-space: nowrap;
  }
  .company-services a {
    color: #fff;
    text-decoration: none;
  }
  .company-services a:hover {
    color: #ffffff50;
    text-decoration: underline;
  }
  .company-contact li:nth-child(1) {
    margin-bottom: 0.7em;
  }
  .subscribe {
    position: relative;
    margin: 0.5em 0;
  }
  .subscribe h3 {
    font-size: 1em;
  }
  .subs i {
    color: #0000008a;
    position: absolute;
    left: 10px;
  }
  .subs {
    display: flex;
    align-items: center;
    margin-top: 1em;
  }
  .subscribe input[type="email"] {
    width: 100%;
    padding: 0.7em 2.5em;
    border: 1px solid;
    border-radius: 4px;
  }
} 
 */
